*
  :padding 0px
  :margin  0px

body
  :font-family "Bookman Old Style", "Serifa BT", "URW Bookman L", "itc bookman", times, serif
  :background-color #d3d0c2
  
body, form
  :text-align center

h1, h2, h3, h4
  :font-weight normal
  :color #993333

h1.question
  :position relative
  :left -30px
  :padding 5px 10px
  :background-color #fff9e5
  :-moz-border-radius 5px

input, textarea
  :font-family "Bookman Old Style", "Serifa BT", "URW Bookman L", "itc bookman", times, serif
  :display block

textarea
  :border none
  :margin auto
  
input
  :text-align center
  :background-color transparent
  :border     none
  :border-bottom dotted 1px black
  :margin     10px auto
  
input[type=hidden]
  :display none
  
input:hover, input:focus
  :background-color #efecdc
  
#book_title
  :font-size  2em
  
#book_subtitle
  :font-size  1.3em
  
#book_author
  :font-size  1.2em
  
#book_email
  :font-size  1.2em
  
#book_password
  :font-size  1.3em
  
#book_text
  // :height 166px
  :background-color #efecdc
  :padding 2em
  :border 2px solid #bcb9ad

.shadow
  :width 490px
  :height 18px
  :margin 0 auto
  :background-image url('/images/shadow2.png')

.add_more
  :width 40px
  :height 40px
  :background-color white
  :margin -18px auto 0px

.page
  :position relative
  :margin 10px auto 0px
  :padding 20px
  :padding-bottom 18px
  :width 450px
  :background-color #EFECDC
  :border 2px solid #FFFFFF
  :text-align justify
  :line-height 1.4em
  //:-moz-border-radius 10px
  //:-moz-border-radius-topright 0px
  //:-webkit-border-radius 10px
  //:-webkit-border-top-right-radius 0px
  
  &.title
    :width 490px
    :padding 160px 0px
    :text-align center
    
    h1, h2, h3
      :margin-left auto
      :margin-right auto
      :width 80%
      
    h1
      :border-top 1px solid #D3D0C2
      :border-bottom 1px solid #D3D0C2
      :padding 0.5em 0em
      :line-height 1.2em
      :margin-top 1em
      :margin-bottom 1em
      
    h2
      :font-size 1.3em
      
    h3
      :font-size 1.1em
    
  .chapter
    :display none
    :position absolute
    :top -2px
    :left 490px
    :background-color #efecdc
    :padding 10px
    :border 2px solid #FFFFFF
    :border-left none
    :-moz-border-radius-topright 10px
    :-moz-border-radius-bottomright 10px
    :-webkit-border-top-right-radius 10px
    :-webkit-border-bottom-right-radius 10px

.page:hover
  .chapter
    :display block

.hardcopy
  .pdf
    :position fixed
    :top 5px
    :right 5px
    :padding 10px
    :background-color #efecdc
    :-moz-border-radius 10px
    :-webkit-border-radius 10px

ol.chapternav
  :position fixed
  :top 60px
  :right 0px
  :list-style none
  :background-color #efecdc
  :-moz-border-radius-topleft 10px
  :-moz-border-radius-bottomleft 10px
  :-webkit-border-top-left-radius 10px
  :-webkit-border-bottom-left-radius 10px
  
  li
    a
      :display block
      :padding 12px
      :border-top solid 2px #fff
      // :border-bottom solid 1px
      // :border-collapse collapse
      // :margin-top -1px
      :cursor hand
      :cursor pointer
      
#book_submit
  :font-size  1em
  :border solid 1px black
  
.star
  :position absolute
  :top 15px
  :right -6px
  :width 15px
  :height 14px
  :background transparent url('/images/star.png')
  
::-moz-selection
  :background #cc0000
  :color #fff
  
::selection
  :background #cc0000
  :color #fff
  
code::-moz-selection
  :background #333333
  
code::selection
  :background #333333