body {
  font-family: "Bookman Old Style", "Serifa BT", "URW Bookman L", "itc bookman", times, serif;
  background-color: #d3d0c2; }

body, form {
  text-align: center; }

h1, h2, h3, h4 {
  font-weight: normal; }

h1 {
  position: relative;
  left: -30px;
  padding: 5px 10px;
  background-color: #fff9e5;
  -moz-border-radius: 5px; }

input, textarea {
  font-family: "Bookman Old Style", "Serifa BT", "URW Bookman L", "itc bookman", times, serif;
  display: block; }

textarea {
  border: none;
  margin: auto; }

input {
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: dotted 1px black;
  margin: 10px auto; }

input[type=hidden] {
  display: none; }

input:hover, input:focus {
  background-color: #efecdc; }

#book_title {
  font-size: 2em; }

#book_subtitle {
  font-size: 1.3em; }

#book_author {
  font-size: 1.2em; }

#book_email {
  font-size: 1.2em; }

#book_password {
  font-size: 1.3em; }

#book_text {
  height: 166px;
  background-color: #efecdc;
  padding: 2em;
  border: 2px solid #bcb9ad; }

.page {
  margin: 10px auto;
  padding-bottom: 18px;
  width: 450px;
  background-color: #efecdc;
  text-align: left;
  padding: 10px; }
  .page.title {
    width: 500px;
    padding: 210px 0px;
    text-align: center; }

#book_submit {
  font-size: 1em;
  border: solid 1px black; }

::-moz-selection {
  background: #cc0000;
  color: #fff; }

::selection {
  background: #cc0000;
  color: #fff; }

code::-moz-selection {
  background: #333333; }

code::selection {
  background: #333333; }
