* {
  padding: 0px;
  margin: 0px; }

body {
  font-family: "Bookman Old Style", "Serifa BT", "URW Bookman L", "itc bookman", times, serif;
  background-color: #d3d0c2; }

body, form {
  text-align: center; }

h1, h2, h3, h4 {
  font-weight: normal;
  color: #993333; }

h1.question {
  position: relative;
  left: -30px;
  padding: 5px 10px;
  background-color: #fff9e5;
  -moz-border-radius: 5px; }

input, textarea {
  font-family: "Bookman Old Style", "Serifa BT", "URW Bookman L", "itc bookman", times, serif;
  display: block; }

textarea {
  border: none;
  margin: auto; }

input {
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: dotted 1px black;
  margin: 10px auto; }

input[type=hidden] {
  display: none; }

input:hover, input:focus {
  background-color: #efecdc; }

#book_title {
  font-size: 2em; }

#book_subtitle {
  font-size: 1.3em; }

#book_author {
  font-size: 1.2em; }

#book_email {
  font-size: 1.2em; }

#book_password {
  font-size: 1.3em; }

#book_text {
  background-color: #efecdc;
  padding: 2em;
  border: 2px solid #bcb9ad; }

.shadow {
  width: 490px;
  height: 18px;
  margin: 0 auto;
  background-image: url('/images/shadow2.png'); }

.add_more {
  width: 40px;
  height: 40px;
  background-color: white;
  margin: -9px auto 0px;
  background-color: #EFECDC;
  border: 0.14em solid white;
  font-family: Arial;
  -moz-border-radius: 21px;
  -webkit-border-radius: 21px; }
  .add_more a {
    display: block;
    width: 100%;
    height: 100%;
    color: black;
    font-size: 50px;
    line-height: 0.8em;
    text-decoration: none;
    text-align: center; }

.page {
  position: relative;
  margin: 0.7em auto 0px;
  padding: 1.4em;
  padding-bottom: 1.26em;
  width: 450px;
  background-color: #EFECDC;
  border: 0.14em solid #FFFFFF;
  text-align: justify;
  line-height: 1.4em; }
  .page.title {
    width: 490px;
    padding: 160px 0px;
    text-align: center; }
    .page.title h1, .page.title h2, .page.title h3 {
      margin-left: auto;
      margin-right: auto;
      width: 80%; }
    .page.title h1 {
      border-top: 0.07em solid #D3D0C2;
      border-bottom: 0.07em solid #D3D0C2;
      padding: 0.5em 0em;
      line-height: 1.2em;
      margin-top: 1em;
      margin-bottom: 1em; }
    .page.title h2 {
      font-size: 1.3em; }
    .page.title h3 {
      font-size: 1.1em; }
  .page .chapter {
    display: none;
    position: absolute;
    top: -0.14em;
    left: 495px;
    background-color: #efecdc;
    padding: 0.7em;
    border: 0.14em solid #FFFFFF;
    border-left: none;
    -moz-border-radius-topright: 0.7em;
    -moz-border-radius-bottomright: 0.7em;
    -webkit-border-top-right-radius: 0.7em;
    -webkit-border-bottom-right-radius: 0.7em; }

.page:hover .chapter {
  display: block; }

#pullout {
  position: fixed;
  top: 0px;
  right: -3.5em;
  font-family: Arial; }
  #pullout a {
    text-decoration: none; }
  #pullout a:hover {
    text-decoration: underline; }
  #pullout .options {
    border-left: 0.14em solid #FFFFFF;
    border-bottom: 0.14em solid #FFFFFF;
    padding: 0.7em;
    background-color: #efecdc;
    overflow: hidden;
    -moz-border-radius-bottomleft: 0.7em;
    -webkit-border-bottom-left-radius: 0.7em; }
    #pullout .options div {
      margin-right: 10px; }
    #pullout .options a {
      display: block;
      height: 20px; }
    #pullout .options .trigger {
      float: left;
      display: block;
      width: 20px;
      height: 20px;
      background-image: url('/images/cog-small.png'); }
    #pullout .options .pdf {
      float: left; }
  #pullout ol.chapternav {
    position: relative;
    top: -0.14em;
    left: 90px;
    width: 50px;
    list-style: none;
    background-color: #efecdc;
    border-left: 0.14em solid #FFFFFF;
    border-bottom: 0.14em solid #FFFFFF;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px; }
  #pullout li a {
    text-align: left;
    display: block;
    padding: 12px;
    border-top: solid 2px #fff;
    cursor: hand;
    cursor: pointer; }

#book_submit {
  font-size: 1em;
  border: solid 1px black; }

::-moz-selection {
  background: #cc0000;
  color: #fff; }

::selection {
  background: #cc0000;
  color: #fff; }

code::-moz-selection {
  background: #333333; }

code::selection {
  background: #333333; }
