.page
  %h1 Would you like to write a short story and publish it online?
  Yes?
  = link_to 'Start a new story!', title_path
  %h1 Would you like to read some stories that have been written?
  Yes? We can list a few
  = link_to 'random stories', '#'
  or let you
  = link_to 'browse stories', '#'